@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}


.formContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .logo {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .8rem;
        position: absolute;
        top: 1rem;
        left: 2rem;

        img {
            height: 45px;
            width: 45px;
            margin-right: .5rem;
        }

        span {
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
    }

    .formWrapper {
        background-color: white;
        color: black;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 7px;
        width: 25%;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

        .title {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;

            input {
                padding: 15px;
                padding-bottom: 8px;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.575);
                font-size: 1rem;

                &::placeholder {
                    color: rgb(175, 175, 175);
                    font-weight: light;
                }

                &:focus {
                    outline: 0;
                    border-bottom: 1px solid var(--base);
                }
            }

            label {
                display: flex;
                align-items: center;
                cursor: pointer;
                width: fit-content;
                font-size: .96rem;

                span {
                    font-size: 2rem;
                    margin-right: 5px;
                }
            }

            button {
                background-color: var(--base);
                color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .2rem;
                font-size: .95rem;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: #0cb898;
                }
            }

        }

        p {
            font-size: .98rem;

            :link {
                text-decoration: none;
            }
        }
    }
}

.home {
    background-color: #0b141a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 100%;
        height: 99.9%;
        // border: 1px solid white;
        display: flex;

        .sidebar {
            flex: 1;
            background-color: var(--darkbase);
            border-right: 1px solid rgba(83, 80, 80, 0.527);

            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: var(--bg);
                height: 2rem;
                padding: 1rem;

                .logo {
                    font-size: 1.1rem;
                    color: var(--text);

                    @include tablet {
                        display: none;
                    }
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    color: var(--text);


                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    i {
                        font-size: 20px;
                        cursor: pointer;
                    }
                }

            }

            .search {
                .searchForm {
                    padding: 1rem;
                    // border: 1px solid white;

                    input {
                        background-color: #202c33;
                        border: none;
                        outline: none;
                        color: var(--text);
                        width: 90%;
                        padding: .8rem;
                        border-radius: 5px;
                    }
                }
            }

            .chats {
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 3px;
                }

                &::-webkit-scrollbar-thumb {
                    background: rgba(136, 136, 136, 0.712);
                }

                height: 78vh;
            }

            .userchat {
                padding: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                // border-bottom: 1px solid rgba(83, 80, 80, 0.527);

                &:hover {
                    background-color: var(--hover);
                }

                img {
                    height: 49px;
                    width: 49px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo {
                    padding-bottom: .8rem;
                    border-bottom: 1px solid rgba(83, 80, 80, 0.356);
                    width: 100%;

                    span {
                        font-size: 1.1rem;
                        font-weight: bold;
                        color: whitesmoke;
                    }

                    p {
                        font-size: .8rem;
                        color: var(--text);
                    }
                }
            }
        }

        // }

        .chat {
            flex: 2.5;

            .chatInfo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: var(--bg);
                height: 2rem;
                padding: 1rem;
                border-bottom: 1px solid rgba(83, 80, 80, 0.527);

                .userHead {
                    display: flex;
                    align-items: center;
                }

                img {
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                span {
                    font-weight: bold;
                    color: #e9edef;
                    margin-left: 1rem;
                }

                .chatIcons {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    i,
                    span {
                        margin-right: 1.5rem;
                    }
                }
            }

            .messages {
                background: url('../src/media/chatBackground.jpg') center center/cover;
                padding: 1rem;
                height: calc(100% - 161px);
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-thumb {
                    background: rgba(136, 136, 136, 0.712);
                }

                .message {
                    display: flex;
                    gap: 20px;
                    margin: 1rem;
                    margin-top: 0;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        font-weight: 300;
                        font-size: 11px;
                        color: #a6abad;

                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                        }

                        .msgDate {
                            margin-top: 3px;
                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        img {
                            width: 50%;
                        }

                        p {
                            background-color: #202c33;
                            padding: 10px 20px;
                            border-radius: 0 10px 10px 10px;
                            max-width: max-content;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                            p {
                                background-color: #005c4b;
                                color: white;
                                border-radius: 10px 0 10px 10px;
                            }
                        }
                    }
                }
            }

            .input {
                height: 2rem;
                padding: 1rem;
                background-color: #202c33;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #808f99;

                i {
                    font-size: 1.3rem;
                    margin-right: 1rem;
                    cursor: pointer;
                }

                span {
                    font-size: 2rem;
                    margin-left: 1rem;
                    cursor: pointer;
                }

                input {
                    width: 85%;
                    border: none;
                    outline: none;
                    padding: .9rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    color: #d1cbaf;
                    background-color: #2a3942;
                }
            }
        }
    }
}